/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    font-size: calc(90vh / 40);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f0f0f0;
}

@media (max-aspect-ratio: 16/9) {
    html {
        font-size: calc(90vw / 71);
    }
}

.container {
    position: absolute;
    left: calc((100vw - 71rem) / 2);
    right: calc((100vw - 71rem) / 2);
    width: 71rem;
    top: 0;

    padding: 1rem;

    background-color: white;
}